.DS_Store

.venv/
venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.coverage
htmlcov/
*.egg-info/
dist/
build/

node_modules/
**/node_modules/

**/todo.txt
**/project-info.txt
**/delivery.txt
**/messages.txt